[submodule "lib/twitty-twister"]
	path = lib/twitty-twister
	url = git://github.com/dustin/twitty-twister.git
[submodule "lib/wokkel"]
	path = lib/wokkel
	url = git://github.com/dustin/wokkel.git
[submodule "lib/twisted-longurl"]
	path = lib/twisted-longurl
	url = git://github.com/dustin/twisted-longurl
