general:
  # How long to sleep in the main loop (between launching queries and cleanup)
  loop_sleep: 60
  # DB to use (see datamapper docs for info on how to configure this)
  db: sqlite3:twitterspy.sqlite3
  # Number of query worker threads (i.e. how many concurrent queries are sent)
  nthreads: 2
  # Number of twitter API reader threads (fetching private info, friends, etc)
  twitrthreads: 1
  # Number of twitter API writer threads (posting, following, etc...)
  twitwthreads: 1
  # Minimum time (minutes) to wait before executing a given search query again
  watch_freq: 15
  # Minimum time to wait before fetching personal info (friends, dms, etc...)
  personal_freq: 3
  # User agent used to identify this bot to twitter when sending search queries.
  user_agent: mybot@jabber.org

xmpp:
  jid: mybot@jabber.org/twitterspy
  pass: password4mybot
